/node_modules/@types/screeps/index.d.ts
/node_modules/@types/screeps/LICENSE
/node_modules/@types/screeps/package.json
/node_modules/@types/screeps/README.md
/node_modules/.package-lock.json
/node_modules/main.js
/v1/cost_calculator.js
/v1/main.js
/v1/role.builder.js
/v1/role.harvester.js
/v1/spawner.main.js
/v1/utils.js
/steal1/main.js
